<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    {% load static %}
    {% include "includes.html" %}
    <title>Example: Multiple</title>

<script>

window.onload = function () {  
document.addEventListener('keyup', event => {
  if (event.code === 'Space') {
     elm = document.getElementById('yseditor').textContent
     textarray = elm.split("X2X2CF")

$.ajax({
  url: '/notes/recommend/',
  type: 'POST',
  dataType: 'json',
  data: {
    'text': elm,
  },
  success: function(response) {
  console.log(response)
},
  error: function(error) {
  }
});

  }



})}
  </script>
  </head>

  <body>

    <div id="yseditor">
      <h1>Heading</h1>
      <p>Write text here...</p>
    </div>
    
    <script>
      var myEditor = new ysEditor();
    </script>
  </body>

</html>
