<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    {% load static %}
    {% include "includes.html" %}
    <title>Note Generator</title>

<script>

  window.onload = function () {  
      document.addEventListener('keyup', event => {
          if (event.code === 'Space') {
              res = document.getElementById("result");
              res.innerHTML = '';

              elm = document.getElementById('yseditor').textContent
              textarray = elm.split("X2X2CF")

              $.ajax({
                  url: '/notes/recommend/',
                  type: 'POST',
                  dataType: 'json',
                  data: {
                      'text': elm,
                  },
                  success: function(response) {
                      showResults(response.suggestions);
                  },
                  error: function(error) {
                  }
              });
          }
      })

      function showResults(suggestions) {

           res = document.getElementById("result");
          res.innerHTML = '';
          let list = '';
          for (i=0; i< suggestions.length; i++) {
              list += '<li>' + suggestions[i] + '</li>';
          }
          res.innerHTML = '<ul>' + list + '</ul>';
      }
  }
  </script>
  </head>

  <body>

    <div id="yseditor">
      <h1>Heading</h1>
      <p>Write text here...<div id="result"></div></p>
    </div>
    
    <script>
      var myEditor = new ysEditor();
    </script>
  </body>

</html>
